/**
 * table of contents
 * 1. flash messages
 * 2. Form styles
 * 3.
 */
.flash-messages {
  margin-top: -20px;
}

.form .title {
  margin-bottom: 30px;
}

.details-panel-layout {
  .details-panel-heading {
    padding: 10px 30px 0 30px;
    .panel-details {
      padding: 30px 30px 10px 30px;
      background-color: #fcfcfc;
      .form-group {
        margin-bottom: 0px;
        .input-sm {
        }
      }
    }
  }
  .details-panel-body {
    padding: 30px;
  }
}
