/**
 * table of contents
 * 1. flash messages
 * 2. Form styles
 * 3. panel styles
 * 4. summernote styles
 * 5. crud styles
 * 6. Line items
 * 7. input-grou-addon with select styles
 */

/* 1. flash messages */
.flash-messages {
  margin-top: -20px;
}

/* 2. form styles */
.form .title {
  margin-bottom: 30px;
}

/* 3. panel styles */
.details-panel-layout {
  .details-panel-heading {
    padding: 10px 30px 0 30px;
    .panel-details {
      padding: 30px 30px 10px 30px;
      background-color: #fcfcfc;
      .form-group {
        margin-bottom: 0px;
        .input-sm {
        }
      }
    }
  }
  .details-panel-body {
    padding: 30px;
  }
}
/* 4. summernote styles */
.note-editor.note-frame {
  border: none;
}
/* 5. crud styles */
.link-row {
    padding: 7px 0;
    display: block;
    border-bottom: 1px solid #efefef;

    @media (max-width: 767px) {
      span.visible-xs {
        display: inline-block !important;
      }
    }
}
@media (max-width: 767px) {
  .link-row:hover {
    text-decoration: none;
  }
}
.link-row:last-child {
  border-bottom: none;
}

/* 6. Line items */
.line-items {
  .sort-move-icon {
    cursor: move;
  }
  .line-item-row {
    padding: 7px 0;
    display: block;
  }
}

/* 7. input-grou-addon with select styles */
.input-group-btn select {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 5px;
}
